// colors

$color1: #04080f;
$color2: #507dbc;
$color3: #a1c6ea;
$color4: #bbd1ea;
$color5: #dae3e5;

$text-highlight: 1px $color1;
$disclaim: 80%;
$ul-list-style: none;
$ul-padding: 0;

//blendmode
$lighten-base: luminosity;

//body
$body-margin: auto;
$body-width: 90%
$body-padding: 10px;
$body-textalign: center;

//img
$radius-image: 20px;
$padding-image: 2px 4px;
$width-img: 100%;
$height-img: auto;

$banner-width: 100%;
$banner-display: flex;
$banner-margin: 0;

//text
$fontfamily-text: 'Alegreya Sans SC', sans-serif;
$fontsize-text: 3vw;
$mixblend-text: color-dodge;
$padding-text: 0;
$margin-text: 0;

$marginbottom-namecontent: 8px;
$padding-namecontent: 0 16px;

$h1-title-font: 110%;
$h1-title-text-align: center;

$h2-text-align: left;

$p-font-size: 65%;
$p-text-align: left;

//navigation
$font-nav: Georgia, "Trebuchet MS", Arial, sans-serif;
$list-style: none;
$padding-ul: 5px;
$marginleft-ul: 35px;

$alignmentul-nav: center;
$borderbotul-nav: 2px solid black;

$display-lia: inline;

$textalign-lisecond: left;
$liststyle-lisecond: none;
$fontsize-lisecond: 150%;
$fontweight-lisecond: bold;

//anchortags
$padding-a: 2px 4px;
$textalign-a: center;
$textdecoration-a: none;
$display-a: inline-block;

$fontweight-alink: bold;
$fontweight-avisitied: lighter;
$borderradius-aha: 20px;

$hero-display: block;
$hero-margin: 0;

$a-textdecor: none;

//mydivs
$borderradius-mydiv: 20px;
$bgattach-mydiv: fixed;
$bgpos-mydiv: center;
$bgrepeat-mydiv: norepeat;
$bgsize-mydiv: cover;

$blendmode-mydiv: multiply;
$blendmode-mydiv4: lighten;
$blendmode-mydiv5: screen;

$backgroundsize-mydiv1: 50%;
$backgroundsize-mydiv2: 50%;
$backgroundsize-mydivr: 50%;

$mydiv-padding: 15px;
$mydiv-margin: 5px;
$mydiv-maxwidth: 100%;

//wrapper
$display-wrapper: flex;
$flexflow-wrapper: column wrap;
$fontweight-wrapper: bold;
$textalign-wrapper: center;

$padding-wrapper: 10px;
$flex-wrapper: 1 100%;

$display-header: center;
$justifycontent-header: center;

//footer
$borderradius-footer: 60px;
$backgroundsize-footer: 90%;
$margin-footer: 0 auto;
$maxwidth-footer: 30%;
$backgroundrepeat-footer: no-repeat;
$backgroundattach-footer: fixed;
$display-footer: center;
$justifycontent-footer: flex-end;
$textalign-footer: center;
$fontsize-footer: auto;

//flexcontainer
$padding-fcontain: 0;
$margin-fcontain: 0;
$liststyle-fcontain: none;
$display-fcontain: flex;
$justifycontent-fcontain: center;
$alignitem-fcontain: center;

//flex-item
$padding-fitem: 5px;
$width-fitem: 100%;
$height-fitem: auto;
$margintop-fitem: 10px;
$textalign-fitem: center;
$fdirection-fitem: column;

//flex-itemsub
$padding-fitemsub: 5px;
$width-fitemsub: 100%;
$height-fitemsub: auto;
$fontsize-fitemsub: 700%;
$margintop-fitemsub: 10px;
$textalign-fitemsub: center;
$fdirection: column;

//popup
$position-popup: relative;
$display-popup: inline-block;

$width-popuptext: 160px;
$textalign-popuptext: center;
$borderradius-popuptext: 6px;
$padding-popuptext: 8px 0;
$position-popuptext: absolute;
$zindex-popuptext: 1;
$bottom-popuptext: 125%;
$left-popuptext: 50%;
$marginleft-popuptext: -80px;

$position-popuptexta: absolute;
$top-popuptexta: 100%;
$left-popuptexta: 50%;
$marginleft-popuptexta: -5px;
$borderwidth-popuptexta: 5px;
$borderstyle-popuptexta: solid;
$bordercolor-popuptexta: #555 transparent transparent;

//table
$margin-table: 0 auto;
$border-table: 1px solid black;

//block
$block-textalign: center;
$block-display: inline-block;

$block-center-display: flex;
$block-center-justify: center;
