@import "_variables";

//snow stuff
body {
  margin:0;
  height:100%;
}
canvas {
    position: absolute;
    top: 0;
    left: 0;
}


body, html {
    height: 100%;
    width: 100%;
    margin: 0;

    font-family: $fontfamily-text;
}

nav {
  margin-bottom: 1em;
}

nav .container {
  background: none;
  padding: 0;
}

.highlight {
  text-shadow: 0px 4px 3px rgba(0,0,0,.4),
				 0px 8px 13px rgba(0,0,0,.1),
				 0px 18px 23px rgba(0,0,0,.1);
  color: $color6;
  //border: 2px solid rgba(255,147,41,.1);
}

.main {
  background: url("../../images/glacierModified.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.prof {
  background: url("../../images/marketModified.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.media {
  background: url("../../images/bridgeModified.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center bottom;
  color: #FFFAFA;
}

.hider {
  background: transparent;
  margin: $body-margin;
  width: $body-width;
  padding: $body-padding;
  text-align: $body-textalign;
}

.mainPage {
  color: $color4;
  text-align: left;
  font-family: 'Permanent Marker', cursive;
}

.specialPage {
  color: $color4;
}

.tabbed {
  padding-left: 4.00em;
}

.javaObjectTitle {
  color: $color2;
}

.container {
  background: rgba(4, 8, 15, 0.7);
  padding: 15px 15px;
  text-align: center;
}

.disclaimer {
  font-size: $disclaim;
}

h2.title {
  // font-size: $h1-title-font;
  text-align: $h1-title-text-align;
}

h3.subtitle {
  font-size: $disclaim;
  text-align: $h2-text-align;
}

.text {
  color: $color5;
  font-size: $fontsize-text;
  padding: $padding-text;
  margin: $margin-text;
  -webkit-text-stroke: $text-highlight;
}

p {
  font-size: 0.9em;
  text-align: center;
}

p.copyright{
  font-size: $p-font-size;
  text-align: $p-text-align;
}

.banner {
  max-width: $banner-width;
  display: $banner-display;
  margin-left: $banner-margin;
  margin-right: $banner-margin;
}

ul {
  list-style-type: $ul-list-style;
  margin: 0;
}

ol {
  list-style-type: upper-roman;
}

.ul.navigation {
  list-style-type: $ul-list-style;
  margin: 0 auto;
  text-align: $alignmentul-nav;
  border-bottom: $borderbotul-nav;
  font-family: $font-nav;
  background-color: $color5;
}

li.a {
  display: $display-lia;
}

li p{
  text-align: $textalign-lisecond;
  list-style: $liststyle-lisecond;
  font-size: 0.9em;
}

a.hero {
  display: $hero-display;
  margin-left: $hero-margin;
  margin-right: $hero-margin;
}

div a {
  color: #FFFAFA;
}

div a:visited {
  color: #FFFAFA;
}

.nohover {
  pointer-events: none;
}

a:link {
  color: $color2;
  padding: $padding-a;
  text-align: $textalign-a;
  text-decoration: $textdecoration-a;
  display: $display-a;
  font-weight: $fontweight-alink;
}

button:visited {
  padding: $padding-a;
  text-align: $textalign-a;
  text-decoration: $textdecoration-a;
  display: $display-a;
  font-weight: $fontweight-avisitied;
}

button:hover,
button:active {
  background-color: $color5;
  padding: $padding-a;
  text-align: $textalign-a;
  text-decoration: $textdecoration-a;
  display: $display-a;
  border-radius: $borderradius-aha;
}

button.current:link,
button.current:visited {
  color: white;
  background-color: $color2;
}

.textBlock {
  border-radius: $borderradius-mydiv;
  padding: 1em 2em;
  margin: 2em auto;
  max-width: 60em;
  text-align: left;

  color: #FFFAFA;
  text-shadow:0 1px 0 $color2;
  // horizontal scrolling
  // display: block;
  // float: left
}


//http://manos.malihu.gr/code-example/horizontal-custom-scrollbar-tutorial/
// .browse {
//   overflow-x: auto;
//   margin: 0;
//   max-height: 50em;
// }

.wood1 {
  background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
      ), url("../../images/woodModified.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

.wood2 {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
    ), url("../../images/woodModified2.png");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
}

.inline-block-center {
  text-align: $block-textalign;
}

.inline-block-center .fill-div {
  display: $block-display;
  text-align: $block-textalign;
}

ul.block-center {
  display: $block-center-display;
  justify-content: $block-center-justify;
}

.back-to-top {
  display: inline;
  background: none;
  margin: 0;

  width: 70px;
  height: 70px;
  z-index: 100;
  text-decoration: none;
  color: #fff;
  background-color: #ff9000;
}

.back-to-top i {
  font-size: 60px;
}

footer a,
footer a:visited {
  color: #7C7C7D;
}

footer a:active {
  color: #1F1F1F;
}
